@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    background-color: #282828;
    color: #ebdbb2;
    font-family: 'Montserrat', sans-serif;
}

.box {
    position: absolute;
    transform: translate(-50%, -50%);
    box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
    background: #504945;
    border-radius: 12px;
    text-align: center;
    padding: 20px;
    height: auto;
    width: auto;
    left: 50%;
    top: 50%;
}

.box hr {
    border-color: #98971a;
}

.box a:link {
    text-decoration: none;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
}

.header li {
    float: left;
    padding: 5px;
}

.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header li a:hover {
    background-color: rgb(46, 46, 46);
}

.box a:link {
    color: #458588;
}

.box a:visited {
    color: #458588;
}

ul a:link {
    color: #d79921;
}

ul a:visited {
    color: #d79921;
}